
<div *ngIf="isLoading" id="loadingspinner" class=" d-flex bg-dark  align-items-center justify-content-center "  >
  <mat-spinner class="m-auto"></mat-spinner>
</div> 
<div class="d-flex justify-content-center">
    
    <mat-form-field   class="text-white col-md-3 ">
      <input matInput type="search" class="search-Input" #search (keyup)="doFilter(search.value)">
      <mat-placeholder>Search</mat-placeholder>
      <mat-icon matSuffix style="font-size: 1.2em"  >search</mat-icon>
    </mat-form-field>
   
  </div>
 
  <h5>{{error}}</h5>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by _id">
      ID
    </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
        email
    </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age">
      age
    </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role">
        role
    </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by active">
        active
    </th>
    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
  </ng-container>
  <ng-container matColumnDef="emailVerified">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by emailVerified">
        emailVerified
    </th>
    <td mat-cell *matCellDef="let element"> {{element.emailVerified}} </td>
  </ng-container>
  <ng-container    matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef >  Add Admin </th>
    <td mat-cell *matCellDef="let element"   >
      <button mat-icon-button color="accent"   (click)="redirectToUpdate(element)">
          <mat-icon class="mat-18" *ngIf="admin" >system_update</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="redirectToDelete(element._id)">
            <mat-icon class="mat-18"   >delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10]"> 
</mat-paginator>
 
  <div class="d-flex justify-content-center" >
    <button mat-flat-button color="warn" (click)="paginatorPreviousInServer()" class="m-2" >
      Previous   
     </button>
    <button mat-flat-button color="warn" class="m-2" (click)="paginatorNextInServer()">
      next
    </button>
   
  </div>
