table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }


.search-Input{
  color: azure;

}

.mat-input-element::placeholder{
  color:red !important;
}
#loadingspinner{
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #fbceb5;
}
