<section class="pt-3">
    <div class="container">
        <div class="text-end">
            <mat-icon aria-hidden="false" routerLink="/signin" class="fs-1 clickable"   aria-label="Example home icon">close</mat-icon>
        </div>
        <div class="" *ngIf="find">
            <h2>Enter Your Email</h2>

            <div class="form-floating  col-md-6  m-3"> <input type="email" 
                    class="form-control" id="email" #email placeholder="Email" /> <label
                    for="Password">Email</label> </div>
                    <div class=" pb-5 pt-3 col-md-6 mx-3   ">
                        <button class="btn form-control" (click)="forgotPassword(email.value)"> Find </button>
                    </div>
        </div>
            <div *ngIf="Reset">
                <h3>
                    check Your Email and Take Token
                </h3>
            </div>
        <div *ngIf="Reset">
            <h2>Enter New  Password</h2>
            <div class="form-floating  col-md-6  m-3"> <input type="token" 
                class="form-control" id="token" placeholder="token" /> <label
                for="text">token</label> </div>
            <div class="form-floating  col-md-6  m-3"> <input type="Password" 
                class="form-control" id="Password" placeholder="Password" /> <label
                for="Password"> New Password</label> </div>
                <div class=" pb-5 pt-3 col-md-6 mx-3   ">
                    <button class="btn form-control"> Reset </button>
                </div>
        </div>
    </div>
</section>