<section class="pt-4 ">
    <div class="container  row p-0  m-auto">
        <div class=" offset-md-3 col-6">
            <table class="table  text-white table-striped">
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        {{ name || User.name }}
                    </td>
                    <td class="clickable" (click)="changeNameStatus()" *ngIf="!changeName">
                        Change
                    </td>
                </tr>
                <tr class="position-relative ">
                    <td colspan="3" *ngIf="changeName" [@Open]>
                        <app-change-name [status]='changeName' (Changestatus)="changeName=$event"
                        (NewName)="name=$event"></app-change-name>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        {{User.email}}

                    </td>
                    <td class="clickable">
                        
                    </td>

                </tr>

                <tr>
                    <td>
                        Password </td>
                    <td>
                        ********
                    </td>
                    <td class="clickable" (click)="changePasswordStatus()" *ngIf="!changePassword">
                        Change 
                    </td>
                </tr>
                <tr class="position-relative ">
                    <td colspan="3" *ngIf="changePassword"[@Open]>
                        <app-change-password [status]='changePassword' (Changestatus)="changePassword=$event"
                       ></app-change-password>
                    </td>
                </tr>
                <tr>
                    <td>
                        Age
                    </td>
                    <td>
                        {{age||User.age}}

                    </td>
                    <td class="clickable" (click)="changeAgeStatus()" *ngIf="!changeAge">
                        Change 
                    </td>
                </tr>
                <tr class="position-relative ">
                    <td colspan="3" *ngIf="changeAge"[@Open]>
                        <app-change-age [status]='changeAge' (Changestatus)="changeAge=$event"
                        (NewAge)="age=$event"></app-change-age>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>