.form-control{
    background: transparent;
    border: none;
    height: 60px;
    color: #fff!important;
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.form-control::placeholder{
    color: #fbceb5;
}
.btn {
    background: #fbceb5!important;
    border: 1px solid #fbceb5!important;
    color: #000!important;
    border-radius: 40px; 
}
